.neuton{
	font-family: 'Neuton', serif;
	font-style: 'Italic'
	font-weight: 600;
}

.arvo{
	font-family: 'Arvo', serif;
	text-shadow: 1px 1px #add8e6;
}

.titillium{
	font-family: 'Titillium Web', sans-serif;
	font-weight: 800;
}

.raleway{
	font-family: 'Raleway', sans-serif;
	font-weight: 100;
}

