#main{
	border: none;
 	width: 100%;
  	height: 100%;
 	left: 0;
	top: 0;
  	background: #348f50; 
  	background: -webkit-linear-gradient(to right, #348f50, #56b4d3); 
  	background: linear-gradient(to right, #348f50, #56b4d3);
}

.proj{
	border: thick double #56b4d3 !important;
}